version: "3"

services:
  namenode:
    image: geekyouth/hadoop-namenode:2.0.0-hadoop3.1.2-java8
    container_name: namenode
    restart: unless-stopped
    ports:
      - "9870:9870"
      - "8020:8020"
    volumes:
      - hadoop_namenode:/hadoop/dfs/name
    environment:
      - CLUSTER_NAME=test
    env_file:
      - ./hadoop.env

  datanode:
    image: geekyouth/hadoop-datanode:2.0.0-hadoop3.1.2-java8
    container_name: datanode
    depends_on:
      - namenode
    restart: unless-stopped
    ports:
      - "9864:9864"
    volumes:
      - hadoop_datanode:/hadoop/dfs/data
    environment:
      SERVICE_PRECONDITION: "namenode:9870"
    env_file:
      - ./hadoop.env
  
  resourcemanager:
    image: geekyouth/hadoop-resourcemanager:2.0.0-hadoop3.1.2-java8
    container_name: resourcemanager
    depends_on:
      - namenode
      - datanode
    restart: unless-stopped
    ports:
      - "8088:8088"
    environment:
      SERVICE_PRECONDITION: "namenode:8020 namenode:9870 datanode:9864"
    env_file:
      - ./hadoop.env

  nodemanager1:
    image: geekyouth/hadoop-nodemanager:2.0.0-hadoop3.1.2-java8
    container_name: nodemanager
    depends_on:
      - namenode
      - datanode
      - resourcemanager
    restart: unless-stopped
    ports:
      - "8042:8042"
    environment:
      SERVICE_PRECONDITION: "namenode:8020 namenode:9870 datanode:9864 resourcemanager:8088"
    env_file:
      - ./hadoop.env
  
  historyserver:
    image: geekyouth/hadoop-historyserver:2.0.0-hadoop3.1.2-java8
    container_name: historyserver
    restart: unless-stopped
    depends_on:
      - namenode
      - datanode
      - resourcemanager
    ports:
      - "8188:8188"
    environment:
      SERVICE_PRECONDITION: "namenode:8020 namenode:9870 datanode:9864 resourcemanager:8088"
    volumes:
      - hadoop_historyserver:/hadoop/yarn/timeline
    env_file:
      - ./hadoop.env
  
volumes:
  hadoop_namenode:
  hadoop_datanode:
  hadoop_historyserver:
